@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 94.1%;
    --foreground: 275 10% 15%;
    --card: 0 0% 100%;
    --card-foreground: 275 10% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 275 10% 15%;
    --primary: 275 100% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 275 100% 25%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 240 67% 94.1%;
    --accent-foreground: 275 100% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 88%;
    --input: 0 0% 92%;
    --ring: 275 100% 25%;
    --chart-1: 275 100% 25%;
    --chart-2: 240 50% 70%;
    --chart-3: 275 40% 60%;
    --chart-4: 240 30% 50%;
    --chart-5: 275 20% 40%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 275 10% 25%;
    --sidebar-primary: 275 100% 25%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 67% 94.1%;
    --sidebar-accent-foreground: 275 100% 25%;
    --sidebar-border: 0 0% 90%;
    --sidebar-ring: 275 100% 25%;
  }
  .dark {
    --background: 275 10% 10%;
    --foreground: 240 67% 94.1%;
    --card: 275 10% 13%;
    --card-foreground: 240 67% 94.1%;
    --popover: 275 10% 13%;
    --popover-foreground: 240 67% 94.1%;
    --primary: 240 67% 94.1%;
    --primary-foreground: 275 100% 25%;
    --secondary: 275 15% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 275 15% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 275 15% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 275 10% 20%;
    --input: 275 10% 20%;
    --ring: 240 67% 94.1%;
    --chart-1: 240 67% 94.1%;
    --chart-2: 275 40% 70%;
    --chart-3: 240 50% 60%;
    --chart-4: 275 30% 50%;
    --chart-5: 240 20% 40%;
    --sidebar-background: 275 10% 13%;
    --sidebar-foreground: 240 67% 94.1%;
    --sidebar-primary: 240 67% 94.1%;
    --sidebar-primary-foreground: 275 100% 25%;
    --sidebar-accent: 275 15% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 275 10% 20%;
    --sidebar-ring: 240 67% 94.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.custom-shape-divider-bottom-1760958993 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1760958993 svg {
  position: relative;
  display: block;
  width: calc(161% + 1.3px);
  height: 340px;
}

.custom-shape-divider-bottom-1760958993 .shape-fill {
  fill: #060046;
}
